.navbar {
  margin-top: 22px;

  &__item {
    background-color: #15193d;
  }

  &__item-list {
    display: flex;
    justify-content: space-between;
    padding-left: 34px;
    padding-right: 90px;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__link {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }

  &__link:hover {
    color: #ffc239;
  }

  &__item-catalog {
    background-color: #8c93d1;
  }

  &__catalog-link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }

  &__catalog-link:hover {
    color: #ffc239;
  }
}
